<footer>
  <h2 class="text-gradient">Let's Work Together</h2>
  <p>👋 Let's Make Magic Happen Together</p>
  <a href="mailto:huarca06@gmail.com" class="button"
    >Email Me<img src="./icon-email.svg" alt="" /></a
  >
</footer>

<style>
  footer {
    padding-block-start: 10rem;
    padding-block-end: 10rem;
  }

  p {
    color: white;
    text-align: center;
  }
  a {
    display: flex;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  a.button:hover {
    background: var(--accent-gradient);
  }
</style>
